doctype html
html
  head
    title Stay In
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles.css")
  body
    header
      h1 Stay In 🎲
      nav
        ul
          li: a(href="/") Home
          li: a(href="/explorer") Explorer

    main
      block content

    footer
      p © #{new Date().getFullYear()} Stay In -- Your cozy night companion
